root {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans JP", sans-serif;
}

th {
    background-color: #00c0d4;
    color: white;
    font-weight: normal;
    border-style: none;
}

td {
    text-align: center;
    vertical-align: center;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}

tr {
    background-color: #eee;
}

table {
    width: 100%;
}

a, button {
    cursor: pointer;
}

h2 {
    padding: 0.25em 0.5em;
    color: #494949;
    background: transparent;
    border-left: solid 5px #6600cc;
}

.form-box {
    alignment: right;
    text-align: right;
    margin: 0 auto;
    padding-bottom: 1.0em;
}

.table-box {
    padding-left: 10%;
    padding-right: 10%;
}

.message-box {
    display: inline-block;
    text-align: left;
    margin-left: 1.0em;
    margin-right: 1.0em;
}

.message-box-th {
    width: 60%;
}

.result-box {
    width: 10%;
}

.passed {
    color: mediumseagreen;
    font-weight: bold;
}

.missed {
    color: red;
    font-weight: bold;
}

.footer {
    text-align: center;
}

.header-base {

}

.header {
    padding-left: 10%;
    padding-right: 10%;
}

.caption {
    color: #222;
}

.faculty-name-passed {
    background-color: #82E0AA;
}

.faculty-name-ok {
    background-color: #F7DC6F;
}

.faculty-name-missed {
    background-color: #F1948A;
}

.start-checking-button {
    background-color: #6600cc;
    color: white;
    border-style: none;
    border-radius: 0.5em;
    padding: 1.0em 2.0em;
}

.wf-notosansjapanese { font-family: "Noto Sans JP"; }