root {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333333;
  -webkit-text-size-adjust: 100%;
}

th {
  background-color: #00c0d4;
  color: white;
  font-weight: normal;
  border-style: none;
}

td {
  text-align: center;
  vertical-align: center;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
}

tr {
  background-color: #eee;
  cursor: pointer;
}

table {
  width: 100%;
  color: black;
}

a, button {
  cursor: pointer;
}

h2 {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #6600cc;
  font-weight: normal;
  font-size: 1.4em;
}

h3 {
  padding: 0.25em 0.5em;
  color: #494949;
  background: #eee;
  border-left: solid 5px #6600cc;
  font-weight: normal;
  font-size: 1.2em;
}

.menu {
  text-align: center;
  margin: 0 auto 1.0em;
  display: flex;
}

.menu-bar {
  height: 3.0em;
}

.menu-item {
  color: gray;
  padding: 0 1.0em 1.0em;
  margin: auto 0;
  border-bottom: transparent solid 4px;
  cursor: pointer;
}

.menu-item:hover {
  color: #6600cc;
  border-bottom: #6600cc solid 4px;
}

.selected {
  color: #6600cc;
  border-bottom: #6600cc solid 4px;
}

.menu-left {
  alignment: left;
  text-align: left;
  margin: auto;
  width: 40%;
}

.menu-right {
  alignment: right;
  vertical-align: center;
  text-align: right;
  margin: auto;
  width: 40%;
}

.form-box {
  alignment: right;
  text-align: right;
  margin: 0 auto;
  padding-bottom: 1.0em;
}

.table-box {
  padding-left: 10%;
  padding-right: 10%;
}

.message-box {
  display: inline-block;
  text-align: left;
  margin-left: 1.0em;
  margin-right: 1.0em;
}

.message-box-th {
  width: 60%;
}

.result-box {
  width: 10%;
}

.passed {
  color: mediumseagreen;
  font-weight: bold;
}

.missed {
  color: red;
  font-weight: bold;
}

.passed-subject {
  color: mediumseagreen;
}

.missed-subject {
  color: red;
}

.footer {
  text-align: center;
  padding-bottom: 2.0em;
}

.header-base {

}

.header {
  padding-left: 10%;
  padding-right: 10%;
}

.caption {
  color: #222;
}

.faculty-name-passed {
  background-color: #82E0AA;
}

.faculty-name-ok {
  background-color: #F7DC6F;
}

.faculty-name-missed {
  background-color: #F1948A;
}

.primary-button {
  background-color: #6600cc;
  color: white;
  border-style: none;
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
  font-size: 1.0em;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.secondary-button {
  background: linear-gradient(30deg, #f2e6ff, #fff);;
  color: #6600cc;
  border-style: none;
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
  font-size: 1.0em;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}


.subject-details-name {
  background-color: #bbb;
}

.subject-details-content {
  padding-left: 1.0em;
  padding-right: 1.0em;
}

.migration-requirements {
  height: 1.0em;
  padding: 4px 16px;
}

.migration-requirements-name {
  text-align: left;
}

.migration-requirements-sa {
  background-color: #ffccbc;
}

.migration-requirements-sb {
  background-color: #ffab91;
}

.migration-requirements-sc {
  background-color: #ff8a65;
}

#loading-text p {
  text-align: center;
}

.migration-requirements-fa {
  background-color: #bbdefb;
}

.migration-requirements-fb {
  background-color: #90caf9;
}

.migration-requirements-fc {
  background-color: #64b5f6;
}

.migration-requirements-name-th {
  width: 50%;
}

.migration-requirements-season-th {
  width: 10%;
}

.migration-requirements-unit-th {
  width: 10%;
}

.migration-requirements-others-th {
  width: 10%;
}

.expand_details {
  color: gray;
}

#loading-text {
  text-align: center;
  alignment: center;
}