div.subject-description {
    padding-left: 1.0em;
    border-left: #6600cc solid 4px;
}

span.online {
    color: #ff8a47;
}

span.need-subscribe {
    color: #6ecf63;
}

.subjects-box {
    max-height: 150px;
    overflow-y: scroll;
    margin-left: 1.0em;
}

.subjects-box p {
    width: auto;
    cursor: pointer;
}

.subjects-box p:hover {
    text-decoration: underline;
}

.button-box {
    display: flex;
    gap: 0 1.0em;
    margin-top: 0.5em;
}

.subject-id {
    color: gray;
    text-decoration: none;
}

.subject-id:hover {
    text-decoration: underline;
}